.search {
  display: flex;
  align-items: center;
  background-color: #0b0b0b;
  border-radius: 25px;
  padding: 5px 10px;
  width: 400px;
}

.search input {
  flex: 1;
  border: none;
  outline: none;
  background: none;
  color: red;
  padding: 10px;
  border-radius: 25px 0 0 25px;
  font-size: 16px;
}

.search input::placeholder {
  color: #bbb;
}

.search button {
  background: red;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 0 25px 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search button img {
  width: 20px;
  height: 20px;
  filter: invert(1);
}

.search button:hover {
  background-color: white;
}

.nav-icons {
  display: flex;
  gap: 20px;
  position: relative;
}

.nav-icons a {
  position: relative;
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  transition: color 0.3s ease-in-out, background-color 0.4s ease-in-out;
}

.nav-icons a:hover {
  color: var(--color-brand-red);
}

.nav-icons img {
  width: 50px;
  height: 70px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
