:root {
  --search-width-active: 460px;
  --search-width-active-input: 460px;
}

.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  transition: width 0.4s ease-in-out;
  width: 2rem;
  height: 1.8rem;
}

.searchContainer.active {
  width: var(--search-width-active);
}

.searchContainer .icon {
  position: absolute;
  left: 0.5rem;
  size: 1.5rem;
  transition: left 0.4s ease-in-out, opacity 0.4s ease-in-out;
  color: var(--color-brand-dark-gray);
}

body.dark .searchContainer .icon {
  color: var(--color-brand-white-text) !important;
}

.input {
  width: 0;
  height: 100%;
  padding: 0;
  background-color: transparent;
  outline: none;
  border: 1px solid var(--color-brand-light-gray);
  border-radius: 20px;
  padding-left: 2.5rem;
  transition: width 0.4s ease-in-out, opacity 0.4s ease-in-out,
    padding 0.4s ease-in-out;
  opacity: 0;
}

.button {
  width: 0;
  height: 2rem;
  padding: 0;
  margin-left: 0;
  background-color: var(--color-brand-black);
  border: 1px solid transparent;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  transition: width 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.searchContainer:hover {
  width: var(--search-width-active);
}

.searchContainer:hover .input {
  width: var(--search-width-active-input);
  opacity: 1;
  padding: 0 1rem;
  padding-left: 2.5rem;
  background-color: var(--color-brand-light-gray);
}

body.dark .searchContainer:hover .input {
  background-color: var(--color-brand-dark-gray) !important;
}

.searchContainer:hover .icon {
  left: 0.5rem;
}

.searchContainer:hover .button {
  width: 1.1rem;
  opacity: 1;
  margin-left: 0.5rem;
}

.searchContainer.active .input {
  width: var(--search-width-active-input);
  opacity: 1;
  padding: 0 1rem;
  padding-left: 2.5rem;
  background-color: #131313;
}

.searchContainer.active .button {
  width: 1.1rem;
  opacity: 1;
  margin-left: 0.5rem;
}

@media screen and (max-width: 375px) {
  .searchContainer {
    display: none;
  }
}
