.brandButton {
  width: 100%;
  height: 100%;
  display: inline-flex;
  padding: 10px 30px;
  background: #f60109;
  box-shadow: 0px 0px 14px rgba(246, 1, 9, 0.4) inset;
  border-radius: 30px;
  overflow: hidden;
  border: 3px #f60109 solid;
  border-radius: 50px;
  border-color: #f60109;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: scale 0.3s ease-in-out;
}

.brandButton:hover {
  scale: 1.02;
}

.brandButton.disabled {
  cursor: not-allowed;
  border-color: rgba(246, 1, 9, 0.4);
  background: rgba(246, 1, 9, 0.4);
}
